.example-container {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

h1 {
  text-align: center;
}

.form-fields-container {
  display: flex;
}

.form-fields-container > .place {
  width: 70%;
}

.form-fields-container > .icon {
  margin-left: 20px;
  width: 20%;
}

.actions {
  justify-content: flex-end;
}
