<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Convenience Store Finder</title>
    <link rel="stylesheet" href="app.component.css">
  </head>
  <p>
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        aria-label="Example icon button with a menu icon"
        (click)="sideMenu.toggleDrawer()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Set your favorite place!</span>
    </mat-toolbar>
  </p>
  <div id="map">
    <mat-drawer-container class="example-container" autosize>
      <app-side-menu
        [(items)]="items">
      </app-side-menu>
      <google-map *ngIf="currentPosition"
        height="600px"
        width="100%"
        [center]="currentPosition"
        [zoom]="zoom"
        [options]="options">
        <map-marker
          [position]="currentPosition"
          [options]="currentPositionMarkerOption"
          [visible]="visible">
        </map-marker>
        <map-marker
          *ngFor="let place of searchPlaces"
          [position]="place.position"
          [options]="place.option"
          [visible]="place.visible">
        </map-marker>
      </google-map>
    </mat-drawer-container>
    <div class="example-sidenav-content">
    </div>
  </div>
</html>
